.DS_Store
.idea
.classpath
.project
Album-Collection-grailsPlugins.iml
Album-Collection.iml
application.properties
grailsw
grailsw.bat
npm-debug.log
server/classes
server/lib
server/scripts
server/src
server/target
server/test
server/web-app
server/wrapper
server/grails-app/conf
server/grails-app/i18n
server/grails-app/migrations
server/grails-app/services
server/grails-app/taglib
server/grails-app/utils
server/grails-app/views