<!-- update album modal -->
<div class="modal-content">

  <!-- header -->
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{albumCopy.title ? albumCopy.title : 'Edit Album'}}</h4>
  </div>

  <!-- body -->
  <div class="modal-body update-album">
    <table class="table update-table">
      <tbody>
        <tr>
          <td class="col-xs-12 col-sm-12 col-md-12" ng-controller="inputValidationController">
            
            <div class="overlay" ng-controller="fileUploadController">
              
              <!-- image upload -->
              <div class="overlay-button-container">
                
                <div class="button-cell">
                  
                  <p>Drag and drop or</p>
                  
                  <!-- upload button -->
                  <div class="btn btn-success upload-btn">
                    Uplaod File <input type="file" file-upload="onFileSelect($files)">
                  </div>
                  
                  <!-- upload progress -->
                  <progressbar class="progress-striped active" max="1" value="progress"></progressbar>
                  
                </div>
              </div>
              
              <!-- album art -->
              <img class="thumbnail update-album-art" ng-src="{{artwork}}" place-holder="/images/artwork/place-holder.png">
              
            </div>
            
            <!-- album information -->
            <input class="album-view-title" type="text" placeholder="Title" ng-model="albumCopy.title">
            <input class="album-view-artist" type="text" placeholder="Artist" ng-model="albumCopy.artist">
            <input class="album-view-genre" type="text" placeholder="Genre" ng-model="albumCopy.genre">
            <input class="album-view-year" type="text" ng-keypress="keyValidate($event)" maxlength="4" placeholder="Year" ng-model="albumCopy.year">
            
            <!-- track listing -->
            <ol class="update-album-tracks col-xs-12 col-sm-12 col-md-12">
              <li ng-repeat="tracks in trackListing.tracks">
                <input type="text" placeholder="Track {{$index + 1}}" ng-model="tracks.track">
                <span class="update-album-add-remove-track">
                  <a class="glyphicon glyphicon-minus" ng-click="removeTrack($index)" href></a>
                  <a class="glyphicon glyphicon-plus" ng-click="addTrack($index)" href></a>
                </span>
              </li>
            </ol>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
  </div>

</div>