<!-- update album modal -->
<div class="modal-content">

  <!-- header -->
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">{{album.title ? album.title : modalTitle}}</h4>
  </div>

  <!-- body -->
  <div class="modal-body update-album">
    <table class="table">
      <tbody>
        <tr>
          <td class="col-xs-12 col-sm-12 col-md-12" ng-controller="inputValidationController">
            <div class="upload-container" ng-controller="fileUploadController">
              
              <!-- album art -->
              <img class="thumbnail" ng-src="{{artwork}}" place-holder="{{placeholder}}"/>
              
              <!-- upload album art -->
              <div class="upload-cell" droppable>
                
                <p>{{file.name ? file.name : 'Drop Artwork'}}</p>
                
                <!-- upload button -->
                <button class="btn btn-success" launch-window>Uplaod File</button>
                <input type="file" file-upload="onFileSelect($files)" id="fileInput"/>
                
                <!-- upload progress -->
                <progressbar class="progress-striped active" max="1" value="progress" type="success"></progressbar>
                
              </div>
            </div>
            
            <!-- album information -->
            <input class="title" type="text" placeholder="Title" ng-model="album.title"/>
            <input class="artist" type="text" placeholder="Artist" ng-model="album.artist"/>
            <input class="genre" type="text" placeholder="Genre" ng-model="album.genre"/>
            <input class="year" type="text" ng-keypress="keyValidate($event)" maxlength="4" placeholder="Year" ng-model="album.year"/>
            
            <!-- tracklisting -->
            <ol class="track-listing col-xs-12 col-sm-12 col-md-12">
              <li ng-repeat="tracks in trackListing.tracks">
                <input type="text" placeholder="Track {{$index + 1}}" ng-model="tracks.track"/>
                <span class="add-remove-track">
                  <a class="glyphicon glyphicon-minus" ng-click="removeTrack($index)" href></a>
                  <a class="glyphicon glyphicon-plus" ng-click="addTrack($index)" href></a>
                </span>
              </li>
            </ol>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- footer -->
  <div class="modal-footer">
    
    <!-- loading indicator -->
    <div class="loading-indicator" ng-show="loading"></div>
    
    <!-- action buttons -->
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
  </div>

</div>