.animate-show {
  -webkit-transition: all linear 0.5s;
  opacity:1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}

.animate-show.ng-hide {
  -webkit-transition: all linear 0.0s;
  opacity:0;
}