/*---------------------------------------------------------*/
/* body */

body {
  padding: 50px 0 0;
  cursor: default;
}

/*---------------------------------------------------------*/
/* anchor */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/*---------------------------------------------------------*/
/* navbar */

.navbar {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-size: 25px;
}

.form-control,
.form-control:focus {
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  .collapse {
    display: block !important;
  }
}

/*---------------------------------------------------------*/
/* header */

.page-header {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  z-index: 1;
  padding: 50px 0;
  background-color: #f9f8f4;
  border: 0;
  text-align: center;
  font-weight: 400;
}

/*---------------------------------------------------------*/
/* table */

.table {
  margin: 0;
  /* background-color: #f9f9f9; */
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top: 0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: transparent;
  color: #008ec4;
  cursor: pointer;
}

.table td,
.table td a,
.table td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---------------------------------------------------------*/
/* modal */

.modal-content {
  background-color: transparent;
  border: 0;
}

.modal-header {
  background-color: #008EC4;
  border-radius: 6px 6px 0 0;
  border-bottom-color: #0081B2;
  color: #fff;
}

.modal-header .close {
  margin: 5px 0 0;
}

.modal-title {
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body {
  background-color: #f9f9f9;
  padding: 12px;
}

.modal-footer {
  margin: 0;
  border-radius: 0 0 6px 6px;
  background-color: #f9f8f4;
  border-top: 1px #cdcdcd solid;
}

/*---------------------------------------------------------*/
/* buttons */

.btn {
  font-size: 16px;
}

/*---------------------------------------------------------*/
/* page navigation */

.page-nav,
.albums-nav,
.artists-nav,
.songs-nav {
  position: fixed;
  width: 100%;
  top: 150px;
  z-index: 2;
  background-color: #f9f8f4;
  padding: 0 20px 16px;
  border-bottom: 1px #cdcdcd solid;
}

.albums-nav:after,
.albums-nav:before,
.artists-nav:after,
.artists-nav:before,
.songs-nav:after,
.songs-nav:before {
  position: absolute;
  border: solid transparent;
  content: '';
}

.albums-nav:after,
.albums-nav:before {
  bottom: -1px;
  left: 63px;
}

.artists-nav:after,
.artists-nav:before {
  bottom: -1px;
  left: 149px;
}

.songs-nav:after,
.songs-nav:before {
  bottom: -1px;
  left: 231px;
}

.albums-nav:after,
.artists-nav:after,
.songs-nav:after {
  border-bottom-color: #f9f9f9;
  border-width: 14px;
  margin-left: -14px;
}

.albums-nav:before,
.artists-nav:before,
.songs-nav:before {
  border-bottom-color: #cdcdcd;
  border-width: 16px;
  margin-left: -16px;
}

.page-nav-items {
  font-size: 20px;
  padding: 0 10px;
}

.page-nav-dropdown {
  float: right;
}

.page-nav .active {
  color: #008EC4;
  cursor: default;
}

/*---------------------------------------------------------*/
/* albums view */

.albums-view {
  padding: 0 0 20px;
  background-color: #f9f9f9;
}

.albums-view .thumbnail {
  margin: 20px 0 2px;
}

.albums-view .title,
.albums-view .artist {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---------------------------------------------------------*/
/* artist view */

.artist-list-container {
  max-width: 30%;
  background-color: #f9f9f9;
}

.artist-list,
.albums-by-artist {
  table-layout: fixed;
}

.artist-list > tbody > tr > td {
  vertical-align: middle;
  padding-left: 16px;
  font-size: 18px;
}

.album-artist-container {
  position: fixed;
  z-index: 1;
  display: table;
  table-layout: fixed;
  height: 80px;
  background-color: rgba(249, 249, 249, 0.9);
  border-bottom: 1px #cdcdcd solid;
}

.album-artist {
  display: table-cell;
  vertical-align: middle;
  white-space: nowrap;
}

.artist-list-toggle {
  display: none;
}

.artist-view .artist {
  display: block;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.album-count {
  display: block;
  font-size: 16px;  
}

.albums-by-artist-container {
  max-width: 70%;
  right: 0;
  border-left: 1px #cdcdcd solid;
  background-color: #f9f9f9;
}

.albums-by-artist {
  margin: 80px 0 0;
}

.albums-by-artist td:nth-child(1) {
  width: 110px;
}

.artist-view .thumbnail {
  margin: 0;
  width: 100px;
}

.album-title-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 60px;
}

.artist-view .title {
  display: table-cell;
  vertical-align: middle;
  font-size: 24px;
  padding: 0 0 0 12px;
}

.artist-view .year {
  display: table-cell;
  width: 60px;
  padding: 0 12px 0 0;
  vertical-align: middle;
  text-align: right;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .artist-list > tbody > tr > td {
    font-size: 16px;
  }
  
  .artist-list-container {
    max-width: 40%;
  }
  
  .albums-by-artist-container {
    min-width: 100%;
    transition: all  0.5s;
  }
  
  .move-on-toggle {
    left: 40%;
  }
  
  .artist-list-toggle {
    display: block;
    padding: 0 14px 0 0;
    float: left;
    font-size: 24px;
    line-height: 55px;
  }
  
  .artist-view .artist {
    display: block;
    text-align: right;
  }
  
  .album-count {
    display: block;
    text-align: right;
  }
  
  .artist-view .title {
    font-size: 20px;
  }
}

/*---------------------------------------------------------*/
/* songs view */

.songs-view {
  background-color: #f9f9f9;
}

.songs-view .table {
  table-layout: fixed;
}

.songs-view .table > tbody > tr > td {
  border-bottom: 1px #cdcdcd solid;
  vertical-align: middle;
}

.songs-view .table td:nth-child(1) {
  width: 130px;
  padding-left: 20px;
}

.songs-view .thumbnail {
  margin: 0;
  width: 100px;
}

.songs-view .track {
  margin: 0;
  font-size: 24px;
}

.songs-view .artist,
.songs-view .album {
  font-size: 20px;
}

.songs-view .genre {
  font-size: 18px;
}

.songs-view .album,
.songs-view .genre {
  display: block;
  margin: 0 20px 0 0;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .songs-view .table td:nth-child(3) {
    display: none;
  }
  
  .songs-view .table td:nth-child(1) {
    width: 100px;
    padding-left: 15px;
  }
  
  .songs-view .thumbnail {
    width: 75px;
  }
  
  .songs-view .track {
    font-size: 24px;
    padding-right: 15px;
  }
  
  .songs-view .artist {
    font-size: 18px;
  }
}

/*---------------------------------------------------------*/
/* album view */

.album-view {
  table-layout: fixed;
  background-color: #f9f9f9;
}

.album-view > tbody > tr > td:nth-child(1) {
  width: 262px;
}

.album-view .title {
  display: block;
  font-size: 24px;
  margin: 0;
}

.album-view .artist {
  display: block;
  font-size: 16px;
  margin: 0 0 12px;
}

.album-view .thumbnail {
  width: 250px;
}

.album-view .thumbnail-mobile {
  display: none;
  width: 300px;
}

.tracks {
  border-top: 1px #e5e5e5 solid;
  font-size: 16px;
  padding: 12px 12px 0;
  -webkit-column-count: 2;
}

.tracks li {
  list-style-position: inside;
}

.edit {
  border-top: 1px #cdcdcd solid;
  padding: 16px 20px;
}

.edit a {
  float: right;
  font-size: 24px;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .album-view {
    table-layout: fixed;
  }
  
  .album-view td:nth-child(1) {
    display: none;
  }
  
  .album-view .title,
  .album-view .artist {
    padding: 0 0 0 10px;
  }
  
  .tracks {
    -webkit-column-count: 1;
    border-top: 0;
  }
  
  .tracks p {
    border-top: 1px #cdcdcd solid;
    margin: 0;
    padding: 8px;
  }

  .album-view .thumbnail-mobile {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
  }
}

/*---------------------------------------------------------*/
/* remove album modal and error modal */

.error-modal .modal-body,
.remove-album .modal-body {
  font-size: 16px;
  padding: 40px 20px;
}

.error-modal .modal-body p,
.remove-album .modal-body p {
  display: inline;
}

/*---------------------------------------------------------*/
/* update album modal */

.update-album {
  position: relative;
  table-layout: fixed;
}

.upload-container {
  position: relative;
  display: table;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
  border-collapse: separate;
}

.update-album .thumbnail {
  position: absolute;
  top: 0; right: 0;
  width: 300px;
}

.upload-cell,
.drop-zone {
  position: relative;
  display: table-cell;
  height: 300px;
  width: 300px;
  max-width: 300px;
  padding: 0 16px;
  background-color: #f9f8f4;
  border: 2px #cdcdcd dashed;
  border-radius: 4px;
  font-size: 22px;
  color: #b3b3b3;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.5s;
}

.upload-cell input[type=file],
.drop-zone input[type=file],
.drop-zone p,
.drop-zone .btn,
.drop-zone .btn-success,
.drop-zone .progress-striped {
  display: none;
}

.upload-cell {
  opacity: 0;
}

.upload-cell:hover {
  opacity: 1;
}

.drop-zone:after {
  content: 'Drop Artwork';
}

.progress-striped {
  margin: 16px 0 0;
  background-color: #e7e7e7;
  border-bottom: 1px #fff solid;
  border-radius: 10px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.update-album .title {
  display: block;
  margin: 0;
  font-size: 24px;
}

.update-album .artist,
.update-album .year,
.update-album .genre {
  display: block;
  margin: 0;
  font-size: 16px;
}

.update-album input,
.update-album input:focus {
  width: 88%;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-overflow: ellipsis;
}

.update-album input:hover {
  color: #008ec4;
  cursor: pointer;
}

.update-album input:focus {
  color: #1daae5;
  cursor: text;
}

.update-album .track-listing {
  margin: 12px 0 0 12px;
  font-size: 16px;
}

.update-album .track-listing input,
.update-album .track-listing input:focus {
  padding: 8px 0;
  border-top: 1px #cdcdcd solid;
}

.update-album .add-remove-track {
  font-size: 12px;
  width: 12%;
  text-align: center;
}

.update-album .add-remove-track a {
  width: 7%;
}

/*---------------------------------------------------------*/
/* error modal */

.error-modal .modal-header {
  background-color: #FB5856;
  border-bottom-color: #DD383E;
}

.user-message {
  font-size: 18px;
  margin: 0 0 12px;
}

.error-message {
  display: inline;
  color: #FB5856;
}

/*---------------------------------------------------------*/
/* loading indicator */

.loading-indicator {
  position: fixed;
  bottom: 0; left: 0;
  height: 34px;
  width: 34px;
  margin: 0 0 20px 20px;
  border-bottom: 4px solid #cdcdcd;
  border-left: 4px solid #cdcdcd;
  border-right: 4px solid #cdcdcd;
  border-top: 4px solid #008ec4;
  border-radius: 100%;
  -webkit-animation: spin 0.6s linear infinite;
  }
  
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
