/*---------------------------------------------------------*/
/* body */

body {
  padding: 50px 0 0;
  cursor: default;
}

/*---------------------------------------------------------*/
/* anchor */

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/*---------------------------------------------------------*/
/* navbar */

.navbar {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-size: 25px;
}

.form-control,
.form-control:focus {
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) {
  .collapse {
    display: block !important;
  }
}

/*---------------------------------------------------------*/
/* header */

.page-header {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  z-index: 1;
  padding: 50px 0;
  background-color: #f9f8f4;
  border: 0;
  text-align: center;
  font-weight: 400;
}

/*---------------------------------------------------------*/
/* table */

.table {
  margin: 0;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  position: relative;
  border-top: 0;
  border-bottom: 1px #cdcdcd solid;
}

.table > tbody + tbody {
  border-top: 0;
}

.table td,
.table td a,
.table td p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody > tr > td.vert-align
{
  vertical-align: middle;
}

/*---------------------------------------------------------*/
/* thumbnail */

.thumbnail {
  margin: 0;
}

/*---------------------------------------------------------*/
/* modal */

.modal-content {
  background-color: transparent;
  border: 0;
}

.modal-header {
  background-color: #008EC4;
  border-radius: 6px 6px 0 0;
  border-bottom-color: #0081B2;
  color: #fff;
}

.modal-header .close {
  margin: 5px 0 0;
}

.modal-title {
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body {
  background-color: #f9f9f9;
  padding: 12px;
}

.modal-footer {
  margin: 0;
  border-radius: 0 0 6px 6px;
  background-color: #f9f8f4;
  border-top: 1px #cdcdcd solid;
}

/*---------------------------------------------------------*/
/* page navigation */

.page-nav,
.albums-nav,
.artists-nav,
.songs-nav {
  position: fixed;
  width: 100%;
  top: 150px;
  z-index: 1;
  background-color: #f9f8f4;
  padding: 0 20px 16px;
  border-bottom: 1px #cdcdcd solid;
}

.albums-nav:after,
.albums-nav:before,
.artists-nav:after,
.artists-nav:before,
.songs-nav:after,
.songs-nav:before {
  position: absolute;
  border: solid transparent;
  content: '';
}

.albums-nav:after,
.albums-nav:before {
  bottom: -1px;
  left: 63px;
}

.artists-nav:after,
.artists-nav:before {
  bottom: -1px;
  left: 149px;
}

.songs-nav:after,
.songs-nav:before {
  bottom: -1px;
  left: 231px;
}

.albums-nav:after,
.artists-nav:after,
.songs-nav:after {
  border-bottom-color: #f9f9f9;
  border-width: 14px;
  margin-left: -14px;
}

.albums-nav:before,
.artists-nav:before,
.songs-nav:before {
  border-bottom-color: #cdcdcd;
  border-width: 16px;
  margin-left: -16px;
}

.page-nav .page-nav-items {
  font-size: 20px;
  padding: 0 10px;
}

.page-nav .page-nav-dropdown {
  float: right;
}

.page-nav .active {
  color: #008EC4;
  cursor: default;
}

/*---------------------------------------------------------*/
/* thumbnails view */

.thumbnail-view-container {
  position: relative;
  padding: 0 0 6px;
  margin: 145px 0 0;
  border-bottom: 1px #cdcdcd solid;
  background-color: #f9f9f9;
}

.thumbnail-view-album-art {
  margin: 8px 0 2px;
}

.create-album {
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

.thumbnail-view-title,
.thumbnail-view-artist {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*---------------------------------------------------------*/
/* artist view */

.artist-list-table-container,
.albums-by-artist-table-container {
  max-height: 100vh;
  overflow-y: scroll;
}

.artist-list-table-container {
  max-width: 30%;
  float: left;
}

.albums-by-artist-table-container {
  max-width: 70%;
  float: right;
}

.artist-list-table,
.albums-by-artist-table {
  position: relative;
  min-height: 100vh;
  margin: 145px 0 0;
  display: inline-table;
  table-layout: fixed;
  border-bottom: 0;
}

.artist-list-table {
  background-color: #f9f9f9;
  border-right: 1px #cdcdcd solid;
}

.artist-list-table a {
  padding: 15px 0;
  font-size: 18px;
}

.albums-by-artist-table td:nth-child(1) {
  width: 110px;
}

.artist-view-artwork {
  margin: 0;
  width: 100px;
}

.artist-view-title-year-container {
  display: table;
  height: 60px;
}

.artist-view-title {
  display: table-cell;
  padding: 0 0 0 12px;
  vertical-align: middle;
  font-size: 24px;
  padding: 0 0 0 12px;
}

.artist-view-year {
  display: table-cell;
  padding: 0 12px 0 0;
  vertical-align: middle;
  text-align: right;
  font-size: 16px;
}

@media screen and (max-width: 768px) {    
  .albums-by-artist-table td:nth-child(1) {
    display: none;
  }
}

/*---------------------------------------------------------*/
/* songs view */

.songs-view-table {
  position: relative;
  table-layout: fixed;
  margin: 145px 0 0;
}

.songs-view-album-art {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  margin: 0 20px;
}

.songs-view-track-artist-container {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 0;
  max-width:75%;
  overflow: ellipsis;
}

.songs-view-track {
  margin: 0;
  font-size: 28px;
}

.songs-view-artist,
.songs-view-album {
  font-size: 22px;
}

.songs-view-genre {
  font-size: 18px;
}

.songs-view-album,
.songs-view-genre {
  display: block;
  margin: 0 20px 0 0;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .songs-view-table td:nth-child(2) {
    display: none;
  }
  
  .songs-view-album-art {
    margin: 0 10px;
    width: 75px;
  }
  
  .songs-view-track {
    font-size: 24px;
  }
  
  .songs-view-artist {
    font-size: 18px;
  }
}

/*---------------------------------------------------------*/
/* album view */

.album-view-table {
  background-color: #f9f9f9;
  margin: 145px 0 0;
}

.album-view-table > tbody > tr > td {
  border-bottom: 0;
}

.album-view-title,
.album-view-artist,
.album-view-year,
.album-view-genre {
  display: block;
}

.album-view-title {
  font-size: 24px;
  margin: 0;
}

.album-view-artist,
.album-view-year,
.album-view-genre {
  font-size: 16px;
  margin: 0 0 12px;
}

.album-view-album-art {
  width: 250px;
}

.album-view-mobile-art {
  display: none;
  width: 300px;
}

.album-view-tracks li {
  list-style-position: inside;
}

.album-view-tracks {
  border-top: 1px #e5e5e5 solid;
  font-size: 16px;
  padding: 12px 12px 0;
  -webkit-column-count: 2;
}

.album-view-edit {
  border-top: 1px #cdcdcd solid;
  padding: 16px 20px;
}

.album-view-edit a {
  float: right;
  font-size: 24px;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .album-view-table {
    position: relative;
    table-layout: fixed;
  }
  
  .album-view-title,
  .album-view-artist,
  .album-view-genre,
  .album-view-year {
    padding: 0 0 0 12px;
  }

  .album-view-table td:nth-child(1) {
    display: none;
  }
  
  .album-view-tracks {
    -webkit-column-count: 1;
    border-top: 0;
  }
  
  .album-view-tracks p {
    border-top: 1px #cdcdcd solid;
    margin: 0;
    padding: 8px;
  }

  .album-view-mobile-art {
    display: block;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
  }
}

/*---------------------------------------------------------*/
/* remove album view */

.remove-album .modal-body {
  font-size: 16px;
  padding: 40px 20px;
}

.remove-album .modal-body p {
  display: inline;
}

/*---------------------------------------------------------*/
/* update album view */

.update-table {
  position: relative;
  table-layout: fixed;
}

.update-table > tbody > tr > td {
  border-bottom: 0;
}

.update-album-art-container {
  position: relative;
  display: table;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 12px;
  margin-left: auto;
}

.update-album-art {
  position: absolute;
  top: 0; right: 0;
  width: 300px;
}

.upload-cell,
.upload-cell span {
  position: relative;
  display: table-cell;
  height: 300px;
  width: 300px;
  text-align: center;
  vertical-align: middle;
}

.upload-album-art:hover {
  opacity: 1;
}

.upload-album-art:hover .upload-btn {
  opacity: 1;
}

.upload-album-art:hover .progress-striped {
  opacity: 1;
}

.drop-zone,
.upload-album-art {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: #f9f8f4;
  border: 2px #cdcdcd dashed;
  border-radius: 4px;
  font-size: 22px;
  color: #b3b3b3;
  transition: all 0.5s;
}

.upload-album-art {
  opacity: 0;
}

.drop-zone {
  opacity: 1;
}

.upload-btn {
  position: relative;
  overflow: hidden;
  margin: 0 0 16px;
  border: 0;
  transition: all 0.5s;
  opacity: 0;
}

.upload-btn input[type=file] {
  position: absolute;
  top: 0; right: 0;
  width:  100%;
  height: 100%;
  opacity: 0;
}

.progress-striped {
  margin: 0 16px;
  background-color: #cdcdcd;
  border: 1px #B2B2B2 solid;
  border-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  opacity: 0;
}

.update-album .album-view-artist,
.update-album .album-view-year,
.update-album .album-view-genre {
  margin: 0;
}

.update-album input,
.update-album input:focus {
  width: 88%;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-overflow: ellipsis;
}

.update-album input:hover,
.update-album input:focus {
  cursor: default;
}

.update-album input:hover {
  color: #008ec4;
}

.update-album input:focus {
  color: #fb007a;
}

.update-album-tracks {
  margin: 12px 0 0 12px;
  font-size: 16px;
}

.update-album-tracks input,
.update-album-tracks input:focus {
  padding: 8px 0;
  border-top: 1px #cdcdcd solid;
}

.update-album-add-remove-track {
  font-size: 12px;
  width: 12%;
  text-align: center;
}

.update-album-add-remove-track a {
  width: 7%;
}
