body {
  background-color: #F9F8F4;
  color: #424242;
  padding-top: 60px;
}

a {
  color: #008EC4;
}

a:hover {
  color: #1DAEE4;
  text-decoration: none;
}

.page-header {
  margin-top: 20px;
  text-align: center;
}

.thumbnail {
  margin-top: 10px;
  margin-bottom: 0px;
}

.albums-view {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* navbar */

.navbar .navbar-form {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

.navbar-default {
  background-color: #424242;
  border-color: #424242;
}

.navbar-default .navbar-brand {
  color: #F9F8F4;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #1DAEE4;
}

.navbar-default .navbar-text {
  color: #F9F8F4;
}