body {
  background-color: #F9F8F4;
  color: #424242;
}

.page-header {
  text-align: center;
}

.thumbnail {
  margin-top: 10px;
  margin-bottom: 0px;
}

.albums-view {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .navbar-form {
  padding-top: 0px;
  padding-bottom: 0px;
  border: none;
}

a {
  color: #424242;
}

a:hover {
  color: #1DAEE4;
  text-decoration: none;
}