<!-- view navigation -->
<div class="page-nav">
  <a class="page-nav-items" href="#/albums">Albums</a>
  <a class="page-nav-items" href="#/albums/artists">Artists</a>
  <a class="page-nav-items" href="#/albums/songs">Songs</a>
</div>

<!-- album display -->
<table class="table album-view-table">
  <tbody>
    <tr>
      <td>
        
        <!-- album art -->
        <img class="thumbnail album-view-album-art" ng-src="/images/artwork/{{album.title}}.jpg" place-holder="/images/artwork/place-holder.png">
        
      </td>
      
      <td class="col-xs-12 col-sm-12 col-md-12">
        
        <!-- mobile album art -->
        <img class="thumbnail album-view-mobile-art" ng-src="/images/artwork/{{album.title}}.jpg" place-holder="/images/artwork/place-holder.png">
        
        <!-- album and artist -->
        <p class="album-view-title">{{album.title}}</p>
        <a class="album-view-artist" href>{{album.artist}} {{album.year | yearFilter}}</a>
        
        <!-- track-listing -->
        <ol class="album-view-tracks col-xs-12 col-sm-12 col-md-12">
          <li ng-repeat="track in album.tracks | filter:query">
            <p>{{'\u00A0'}} {{track}}</p>
          </li>
        </ol>
        
      </td>
    </tr>
  </tbody>
</table>

<div class="album-view-edit col-xs-12 col-sm-12 col-md-12">
  
  <!-- delete -->
  <a class="glyphicon glyphicon-trash" ng-controller="removeAlbumModalController" ng-click="removeAlbum()" href></a>

  <!-- edit -->
  <a class="glyphicon glyphicon-pencil" ng-controller="updateAlbumModalController" ng-click="updateAlbum()" href></a>
  
</div>