<!-- view navigation -->
<div class="page-nav albums-nav">
  <a class="page-nav-items active" href>Albums</a>
  <a class="page-nav-items" href="#/albums/artists">Artists</a>
  <a class="page-nav-items" href="#/albums/songs">Songs</a>
  
  <!-- view navigation dropdown -->
  <span class="page-nav-items page-nav-dropdown" ng-controller="dropdownController">
    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle" href>
        {{orderProp | capitalizeFilter}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="option in options">
          <a ng-click="order(option)" href>{{option}}</a>
        </li>
      </ul>
    </span>
  </span>
</div>

<!-- album display -->
<div class="thumbnail-view-container col-xs-12 col-sm-12 col-md-12">
  <span class="col-xs-4 col-sm-3 col-md-2" ng-repeat="album in collection | filter:query | orderBy:orderProp">
    
    <!-- album thumbnails -->
    <a class="thumbnail thumbnail-view-album-art" href="#/albums/{{album.title}}">
      <img ng-src="/images/artwork/{{album.title}}.jpg" place-holder="/images/artwork/place-holder.png">
    </a>
    
    <!-- album and artist -->
    <a class="thumbnail-view-title" href="#/albums/{{album.title}}">{{album.title}} {{album.year | yearFilter}}</a>
    <a class="thumbnail-view-artist" href=>{{album.artist}}</a>
    
  </span>
</div>