<!-- view navigation -->
<div class="page-nav artists-nav">
  <a class="page-nav-items" href="#/albums">Albums</a>
  <a class="page-nav-items active" href>Artists</a>
  <a class="page-nav-items" href="#/albums/songs">Songs</a>
  
  <!-- view navigation dropdown -->
  <span class="page-nav-items page-nav-dropdown">
    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle" href>
        {{orderProp | capitalizeFilter}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="option in options">
          <a ng-click="order(option)" href>{{option}}</a>
        </li>
      </ul>
    </span>
  </span>
</div>

<div ng-controller="artistViewController">
  
  <div class="artist-list-table-container">
    
    <!-- artists lists -->
    <table class="table artist-list-table table-hover col-xs-12 col-sm-12 col-md-12">
      <tbody>
        <tr ng-repeat="artist in artists | filter:query | orderBy:'toString()'">
          <td class="vert-align" ng-click="viewAlbumsBy(artist)">
            <a>{{artist}}</a>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
  <div class="albums-by-artist-table-container">
    
    <!-- albums by artist -->
    <table class="table table-striped albums-by-artist-table col-xs-12 col-sm-12 col-md-12">
      
      <!-- {{albumsByArtist ? albumsByArtist[0].artist : 'All Albums'}} -->
      
      <tbody>
        
        <tr ng-repeat="album in getAlbums() | filter:query | orderBy:orderProp:reverse">
          <td>
            
            <!-- mobile album art -->
            <a class="thumbnail artist-view-artwork" href="#/albums/{{album.title}}">
              <img ng-src="{{album.artwork}}" place-holder="{{placeholder}}">
            </a>
            
          </td>
          
          <td class="col-xs-12 col-sm-12 col-md-12">
            
            <div class="artist-view-title-year-container col-xs-12 col-sm-12 col-md-12">
              
              <!-- album and artist -->
              <a class="artist-view-title" href="#/albums/{{album.title}}">{{album.title}}</a>
              <p class="artist-view-year" href>{{album.year}}</p>
              
            </div>
            
            <!-- track-listing -->
            <ol class="album-view-tracks">
              <li ng-repeat="track in album.tracks | filter:query">
                <p>{{'\u00A0'}} {{track}}</p>
              </li>
            </ol>
            
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  
</div>