<!-- view navigation -->
<div class="page-nav songs-nav">
  <a class="page-nav-items" href="#/albums">Albums</a>
  <a class="page-nav-items" href="#/albums/artists">Artists</a>
  <a class="page-nav-items active" href>Songs</a>
  
  <!-- view navigation dropdown -->
  <span class="page-nav-items page-nav-dropdown">
    <span class="dropdown" on-toggle="toggled(open)">
      <a class="dropdown-toggle" href>
        {{orderProp | capitalizeFilter}} <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-repeat="option in options">
          <a ng-click="order(option)" href>{{option}}</a>
        </li>
      </ul>
    </span>
  </span>
</div>

<!-- songs view -->
<div ng-controller="songsViewController" ng-style="fitToWindow()" window-height>
  <table class="table songs-view">
    <tbody ng-repeat="album in collection | filter:query">
      <tr ng-repeat="track in album.tracks | filter:query | orderBy:'toString()'">
        <td>
          
          <!-- album artwork -->
          <a class="thumbnail" href="#/albums/{{album.title}}">
            <img ng-src="{{album.artwork}}" place-holder="{{placeholder}}">
          </a>
          
        </td>  
       
        <td class="col-xs-12 col-sm-8 col-md-8">
          
          <!-- title and artist -->
          <p class="track">{{track}}</p>
          <a class="artist" ng-click="viewAlbumsBy(album.artist)" href="#/albums/artists">{{album.artist}}</a>
          
        </td>
        
        <td class="col-xs-4 col-sm-4 col-md-4">
          
          <!-- album and genre -->
          <a class="album" href="#/albums/{{album.title}}">{{album.title}}</a>
          <div class="genre">{{album.genre}}</div>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>