<div class="col-xs-12 col-sm-12 col-md-12">
  
  <!-- album cover -->
  <div class="col-xs-6 col-sm-4 col-md-3 albums-view">
    <img class="thumbnail img-responsive" ng-src="/images/artwork/{{album.title}}.jpg">
    <big><a href="#/albums/{{album.artist}}">{{album.artist}} ({{album.year}})</a></big>
  </div>
  
  <div class="col-xs-12 col-sm-8 col-md-9">
    
    <!-- heading -->
    <h2>{{album.title}}</h2>
    
    <!-- track-listing -->
    <table class="table table-striped">
      <tbody>
        <tr ng-repeat="track in album.tracks | filter:query">
          <td>{{$index + 1}}</td>
          <td>{{track}}</td>
        </tr>
      </tbody>
    </table>
    
    <!-- edit -->
    <h3 style="display: inline;">
      <a class="glyphicon glyphicon-pencil" style="padding-right: 20px; padding-bottom: 20px;"></a>
    </h3>
    
    <!-- delete -->
    <h3 style="display: inline;">
      <a href="#/albums/{{album.title}}/remove" class="glyphicon glyphicon-trash" style="padding-bottom: 20px;"></a>
    </h3>
    
  </div>
</div>