<h1 class="page-header">My Album Collection</h1>

<!-- album display -->
<div class="col-xs-12 col-sm-12 col-md-12">
  <span ng-repeat="album in collection | filter:query | orderBy:orderProp" class="col-xs-4 col-sm-3 col-md-2">
    <a href="#/albums/{{album.title}}" class="thumbnail"><img ng-src="/images/artwork/{{album.title}}.jpg"></a>
    <a href="#/albums/{{album.title}}" class="albums-view">{{album.title}} ({{album.year}})</a>
    <a href="#/albums/{{album.artist}}" class="albums-view">{{album.artist}}</a>
  </span>
</div>