<h1 class="page-header">My Album Collection</h1>

<!-- table display -->
<table class="table table-striped">
  <thead>
    <tr>
      <td>Album</td>
      <td>Artist</td> 
      <td>Year</td>
      <td>Genre</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="album in collection | filter:query | orderBy:orderProp">
      <td><a href="#/albums/{{album.title}}">{{album.title}}</a></td>
      <td><a href="#/albums/{{album.artist}}">{{album.artist}}</a></td> 
      <td>{{album.year}}</td>
      <td>{{album.genre}}</td>
    </tr>
  </tbody>
</table>