<!doctype html>
<html lang="en" ng-app="albumCollection">

  <head>
    
    <title>Album Collection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    
  </head>
  
  <body>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div ng-view></div>
      </div>
    </div>
   
  </body>
  
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="../javascripts/app.js"></script>
  <script type="text/javascript" src="../javascripts/controllers.js"></script>

</html>