<!doctype html>
<html lang="en" ng-app="albumCollection">

  <head>
    
    <title>Album Collection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    
  </head>
  
  <body>
    
    <!-- navigation -->
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        
        <!-- navigation -->
        <div class="pull-left col-xs-6 col-sm-6 col-md-6">
          <a class="glyphicon glyphicon-th navbar-brand" href="#/albums"></a>
          <a class="glyphicon glyphicon-th-list navbar-brand" href="#/albums-list"></a>
        </div>
        
        <!-- search -->
        <div class="pull-right col-xs-6 col-sm-6 col-md-6">
          <form class="navbar-form" role="search">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="query">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </nav>
    
    <!-- view template -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div ng-view></div>
      </div>
    </div>
   
  </body>
  
  <script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="../javascripts/app.js"></script>
  <script type="text/javascript" src="../javascripts/controllers.js"></script>

</html>